{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Configuration{% endblock %}</h1>
{% endblock %}

{% block content %}
Première connexion!

Veillez choisir un nom et un mots de passe pour votre administrateur

<form action="{{ url_for('profile.signup') }}" method="post">
    <label for="login">identifiant</label><input type="text" value="admin" name="login">
    <label for="passwd">mot de passe</label><input type="password" name="passwd">
    <input type="submit" value="ok">
    <input type="submit" value="cancel">
</form> 
{% endblock %}