{% extends 'base.html' %}

{% block header %}
  <h1>Connexion locale</h1>
{% endblock %}

{% block content %}

<form action="{{ url_for('profile.signin') }}" method="post">
    <label for="login">identifiant</label><input type="text" value="admin" name="login">
    <label for="passwd">mot de passe</label><input type="password" name="passwd">
    <input type="submit" value="ok">
    <input type="submit" value="cancel">
</form> 

{% endblock %}
