<!doctype html>
<html>
<head>
    <title>{% block title %}{% endblock %} — Répétition espacé</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='code.css') }}">
</head>
<body lang="fr">
    <nav>
    <h1>Répétition espacé</h1>
    <ul>
        <li><a href="{{ url_for('hello') }}">Acceuil</a></li>
        <li><a href="{{ url_for('select.index') }}">Sélection des cartes</a></li>
        <li><a href="">Statistique</a></li>
        <li><a href="">Entrainement</a></li>
        <li><a href="{{ url_for('cards.index') }}">Édition de cartes</a></li>
    </ul>
    </nav>
    <section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for level, message in get_flashed_messages(True) %}
        <div class="flash {{level}}">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
    </section>
</body>
</html>
