h1 {
    color: red;
}

form {
    display: grid;
    grid-template-columns: 1fr;
}

.flash {
    border: 1pt gray solid;
}

.error {
    color: red;
}

form textarea {
height: 10ex;
}

.invisible {
    display: none;
}