{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Entrainement{% endblock %}</h1>
  <script src="{{ url_for('static', filename='train.js') }} "></script>
{% endblock %}

{% block content %}
<section class="question visible" id="question">
    <h2>Question :</h2>
    <section class="frame">
        {{ card.question|markdown }}
    </section>
</section>
<button onclick="show_answer()">Vérifier votre réponse</button>
<section class="answer invisible" id="answer">
    <section class="frame">
        {{ card.answer|markdown }}
    </section>
    <div id="succes">
        Vous trouver la bonne réponse :
        <button onclick="answer('{{ url_answer }}', 'easy')" id="easy">Facilement</button>
        <button onclick="answer('{{ url_answer }}', 'good')" id="good">Normalement</button>
        <button onclick="answer('{{ url_answer }}', 'hard')" id="hard">Difficilement</button>
    </div>
    <div id="succes">
        Vous n'avez pas trouvé la bonne réponse :
        <button onclick="answer('{{ url_answer }}', 'again')" id="again">Reprendre plus tard</button>
    </div>
</section>
<a href="{{ url_for('train.train') }}" id="next" class="invisible"><button>Suivant</button></a>
{% endblock %}