{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Création de fiche{% endblock %}</h1>
{% endblock %}

{% block content %}
<form action="{{ url_for('cards.new') }}" method="post">
{% include "cards/form.html" %}
</form>
{% endblock %}