{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Création de fiche{% endblock %}</h1>
{% endblock %}

{% block content %}
<form action="{{ url_for('cards.edit', id=card.id) }}" method="post">
    <input type="hidden" name="sign.id" value="{{ sign_id }}">
    {% include "cards/form.html" %}
</form>
{% endblock %}