<label for="name">Nom</label><input type="text" id="name" name="name"
{% if card %}
value="{{ card.name }}"
{% endif %}>
<label for="question">Question</label><textarea name="question" id="question" placeholder="Ecrivez votre question ici, en markdown">
{%- if card -%}
{{ card.question }}
{%- endif -%}
</textarea>
<label for="response">Réponse</label><textarea name="response" id="response" placeholder="Ecrivez votre reponse ici, en markdown">
{%- if card -%}
{{ card.answer }}
{%- endif -%}
</textarea>
<input type="submit" value="ok" id="validate">
