{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Création de fiche{% endblock %}</h1>
{% endblock %}

{% block content %}
<ul>
    <li><a href="{{ url_for('cards.new') }}">Nouvelle carte</a></li>
</ul>

Cards:
<ul>
    {% for card in cards: %}
    <li><a href="{{ url_for('cards.view', id=card.id) }}">{{ card.name }}</a></li>
    {% endfor %}
</ul>
{% endblock %}