{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Création de fiche{% endblock %}</h1>
{% endblock %}

{% block content %}
Carte « {{ card.name }} »<br>
Question<br>
{{ card.question|markdown }}
Réponse<br>
{{ card.answer|markdown }}
{% if create %}
<a href="{{ url_for('cards.new') }}">ajouter une autre carte</a>
{% endif %}
<a href="{{ url_for('cards.edit', id=card.id) }}">edit</a>
{% endblock %}