{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Selections des questions{% endblock %}</h1>
  <script>
    function select(url) {
        fetch(url)
            .then(response => response.json())
            .then(data => {
                var elem = document.getElementById("link_" + data["id"])
                let url = data["url"]
                elem.onclick = (ev) => select(url)
                if(data["status"] === 1) {
                    elem.innerHTML = "unselect"
                } else {
                    elem.innerHTML = "select"
                }
            })
    }
  </script>
{% endblock %}

{% block content %}
Bonjour {{ session["nom"] }}, selectionne les questions :
<ul class="list-select-card">
    {% for card in cards %}
    <li>
        « {{ card[0].name }} »
        {% if card[1] %}
        <a id="link_{{card[0].id}}" href="#" onclick="select('{{ url_for('select.select', id=card[0].id, status=False) }}');">unselect</a>
        {% else %}
        <a id="link_{{card[0].id}}" href="#" onclick="select('{{ url_for('select.select', id=card[0].id, status=True) }}');">select</a>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %}
